@page
@model Web.Pages.TurkPatentModel
@{
    ViewData["Title"] = "TP";
}

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                role="tab" aria-controls="home" aria-selected="true">
            Marka Araştırma
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                role="tab" aria-controls="profile" aria-selected="false">
            Dosya Takibi
        </button>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <form method="post" asp-page-handler="Brand">
            <div class="form-group">
                <label asp-for="BrandSearchModel.ApplicationOwner"></label>
                <input asp-for="BrandSearchModel.ApplicationOwner" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="BrandSearchModel.BrandAdvertisementBulletinNumber"></label>
                <input asp-for="BrandSearchModel.BrandAdvertisementBulletinNumber" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="BrandSearchModel.IndividualNumber"></label>
                <input asp-for="BrandSearchModel.IndividualNumber" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Brand Search</button>
        </form>

    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

        <form method="post" asp-page-handler="Files">
            <div class="form-group">
                <label asp-for="SearchFilesModel.ApplicationNumber"></label>
                <input asp-for="SearchFilesModel.ApplicationNumber" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="SearchFilesModel.RegistrationNumber"></label>
                <input asp-for="SearchFilesModel.RegistrationNumber" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="SearchFilesModel.ApplicantInfo"></label>
                <input asp-for="SearchFilesModel.ApplicantInfo" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="SearchFilesModel.BulletinNumber"></label>
                <input asp-for="SearchFilesModel.BulletinNumber" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Search Files</button>
        </form>
    </div>
</div>


